<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        
        App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contadoresAgua']">Contadores de agua</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contadoresLuz']">Contadores de luz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gateways']">Gateways</a>
        </li>
        
      </ul>
      <form #searchForm="ngForm" (ngSubmit)="goSearch()" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
</nav>

<img src="https://www.se.com/es/es/assets/475/media/6641/560/Campus_KEY-IC-2560x600.jpg" width="100%" height="250">