<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" #deviceForm="ngForm" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <legend class="text-center header">Añade un nuevo contador de luz</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                        
                                <input #modelo="ngModel" [(ngModel)]="device.tipo" id="tipo" name="tipo" type="text" placeholder="Tipo del dispositivo" class="form-control">
                                
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                        
                                <input #id="ngModel" [(ngModel)]="device.id" id="id" name="id" type="text" placeholder="ID" class="form-control" pattern='[A-Za-z]{3}' required>
                                
                            </div>
                            <small *ngIf="!id.valid && id.touched">El ID es obligatorio y tiene que tener 3 caracteres</small>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                
                                <input #numero_serie="ngModel" [(ngModel)]="device.numero_serie" id="numero_serie" name="numero_serie" type="number" min="1" step="1" placeholder="Número de serie" class="form-control" pattern='[0-9]+' required >
                            </div>
                            <small *ngIf="!numero_serie.valid && numero_serie.touched">El número de serie es obligatorio</small>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                        
                                <input #marca="ngModel" [(ngModel)]="device.marca" id="marca" name="marca" type="text" placeholder="Marca" class="form-control">
                                
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                        
                                <input #modelo="ngModel" [(ngModel)]="device.modelo" id="modelo" name="modelo" type="text" placeholder="Modelo" class="form-control">
                                
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" value="Guardar" class="btn btn-outline-primary btn-lg" [disabled]="deviceForm.invalid">Añadir</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
