<div class="center">
    <h4 class="subheader">{{title}}</h4>
    <section id="content">
        <table class="table-primary table-bordered" width=93%>
            <thead class="table-dark ">
                <tr>
                    <th scope="col" width="50" height="50" class="text-center">Tipo</th>
                    <th scope="col" width="50" height="50" class="text-center">ID</th>
                    <th scope="col" width="50" height="50"  class="text-center">Número de serie</th>
                    <th scope="col" width="50" height="50"  class="text-center">Marca</th>
                    <th scope="col" width="50" height="50"  class="text-center">Modelo</th>
                    <th scope="col" width="50" height="50"  class="text-center">IP</th>
                    <th scope="col" width="50" height="50"  class="text-center">Puerto</th>
                    <th scope="col" width="50" height="50"  class="text-center">Acción</th>
                </tr>
            </thead>
            <tbody *ngFor="let device of devices">
                <tr *ngIf="device.tipo.includes('gateway') || device.tipo.includes('Gateway')">
                    
                    <td width="50" height="50" class="text-center">{{device.tipo}}</td>
                    <td width="50" height="50" class="text-center">{{device.id}}</td>
                    <td width="50" height="50" class="text-center">{{device.numero_serie}}</td>
                    <td width="50" height="50" class="text-center">{{device.marca}}</td>
                    <td width="50" height="50" class="text-center">{{device.modelo}}</td>
                    <td width="50" height="50" class="text-center">{{device.ip}}</td>
                    <td width="50" height="50" class="text-center">{{device.puerto}}</td>
                    <td><button [routerLink]="['/inicio/editar', device.id]" class="btn btn-outline-primary" style="font-size:20px; color:rgba(124, 6, 160, 0.979)"> <i class="fa fa-pencil-square-o"></i></button>

                    <button (click)="delete(device.id)" class="btn btn-outline-dark" style="font-size:20px;color:red"> <i class="fa fa-close"></i></button>
                    </td>  
                   
                </tr>
        
            </tbody>
            
        </table>
    </section>
</div>
